$reding: red;
$bluing: blue;
$greening: green;

div{
    display: flex;
    flex-direction: column;
    border: solid 1px $reding;
    align-items: center;
    justify-items: center;
    h1{
        color: $greening;
        border-bottom: solid 1px $bluing;
        align-self: center;
        justify-self: center;
    }
    section{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        article{
            border: solid 1px $greening;
            padding: 10px;
            text-align: center;
        }
        .blue{
            color: $bluing;
        }
        .red{
            color: $reding;
        }
    }
}