@mixin article-card($color, $border-color,$font-size: 1rem){
    color:$color;
    border: solid 1px $border-color;
    font-size: $font-size;
}
div{
    width: 95%;
    text-align: center;
    margin: 1rem auto;
    border: solid 1px red;
    h1{
        display: inline-block;
        color: green;
        border-bottom: solid 1px blue;
    }
    section{
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        .blue{
            @include article-card(blue, green)
        }
        .red{
            @include article-card(red,green)
        }
        article{
            padding: 10px;
        }
    }
    .footer{
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        @include article-card(green, blue, 24px)
    }
}