div{
    border: solid 1px red;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 95%;
    padding: 10px;
    h1{
        display: flex;
        border-bottom: solid 1px blue;
        color: green;
    }
    section{
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 10px;
        margin: 10px;
        .red{
            color: red;
        }
        .blue{
            color: blue;
        }
        article{
            border: solid 1px green;
        }
    }
    .footer {
        width: 100%;
        article{
        font-size: 24px;
        text-align: center;
        color: green;
        border-color: blue;
        }
    }
}