div{
    border: solid 1px red;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    h1{
        border-bottom: solid 1px blue;
        color: green;
    }
    .first{
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 10px;
        .red{
            color: red;
        }
        .blue{
            color: blue;
        }
        article{
            border: solid 1px green;
        }
    }
    .second{
        margin: 10px;
        text-align: center;
        color: green;
        border: solid 1px blue;
    }
}